#include <windows.h>
#include "..\mywpp\defines.h"
#include "editor.h"

IDR_APP_ICON ICON "editor.ico"
MyBack       BITMAP "back.bmp"
MyBackInv    BITMAP "backinv.bmp"
#ifdef WIN95
IDB_TOOLBAR  BITMAP "toolbar.bmp";
#endif

IDR_MAIN_MENU MENU
BEGIN
    POPUP	"&File"
    BEGIN
	MENUITEM    "&New",                 IDM_NEW
	MENUITEM    "&Open...",             IDM_OPEN
	MENUITEM    "&Save",                IDM_SAVE
	MENUITEM    "&Save and Exit",       IDM_SAVE_EXIT
	MENUITEM    "Save &As...",          IDM_SAVE_AS
	MENUITEM    SEPARATOR
	MENUITEM    "&Print",               IDM_PRINT
	MENUITEM    "P&rinter Setup...",    IDM_PRINT_SETUP
	MENUITEM    SEPARATOR
	MENUITEM    "E&xit",                IDM_EXIT
	MENUITEM    "A&bout Editor32...",   IDM_ABOUT
    END

    POPUP	"&Edit"
    BEGIN
	MENUITEM    "Cu&t",                 IDM_CUT
	MENUITEM    "&Copy",                IDM_COPY
	MENUITEM    "&Paste",               IDM_PASTE
	MENUITEM    SEPARATOR
	MENUITEM    "&Select all",	    IDM_SELECT
    END

    POPUP	"&Search"
    BEGIN
	MENUITEM    "&Find...",             IDM_FIND
	MENUITEM    "Find &next",           IDM_FIND_NEXT
	MENUITEM    "&Replace...",          IDM_REPLACE
    END
END

#ifdef WIN95
STRINGTABLE DISCARDABLE
BEGIN
	IDM_PASTE	"Paste"
	IDM_COPY	"Copy"
	IDM_CUT		"Cut"
	IDM_PRINT	"Print"
	IDM_NEW		"New"
	IDM_SAVE	"Save"
	IDM_OPEN	"Open"
	IDM_EXIT	"Quit"
	IDM_ABOUT	"About"
	IDM_BEGIN	"Home"
	IDM_END		"EOF"
	IDM_FIND	"Find"
	IDM_FIND_NEXT	"Find Next"
	IDM_REPLACE	"Repalce"
END
#endif

#ifdef WIN95
IDD_ABOUT_DIALOG DIALOG 88, 68, 151, 103
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Editor32 at Your Fingertips"
BEGIN
	CONTROL "OK", IDC_OKAY, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 58, 83, 32, 16
	CTEXT "Text Editor Version 2.13c", -1, 30, 7, 114, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "Includes DEC-EDT like commands", -1, 30, 18, 114, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "on the numeric keypad", -1, 30, 29, 114, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT ">> 32 bit Edition <<", -1, 30, 40, 114, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "for Microsoft Windows 95", -1, 30, 51, 114, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "Compiled by Urs Rohrer (PSI)", -1, 30, 62, 114, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	ICON IDR_APP_ICON, -1, 10, 32, 16, 16
	CONTROL "", 1000, "static", SS_SIMPLE | WS_CHILD | WS_VISIBLE, 3, 3, 145, 73
	CONTROL "", 1001, "static", SS_SIMPLE | WS_CHILD | WS_VISIBLE, 0, 79, 151, 1
END
#else
IDD_ABOUT_DIALOG DIALOG 88, 68, 151, 103
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Editor32"
BEGIN
	CONTROL "OK", IDC_OKAY, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 58, 83, 32, 16
	CTEXT "Text Editor Version 2.13c", -1, 30, 7, 114, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "Includes DEC-EDT like commands", -1, 30, 18, 114, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "on the numeric keypad. Built", -1, 30, 29, 114, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "with transportable C++ code", -1, 30, 40, 114, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "for Windows 95 and Windows NT", -1, 30, 51, 114, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "Compiled by Urs Rohrer (PSI)", -1, 30, 62, 114, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	ICON IDR_APP_ICON, -1, 10, 32, 16, 16
	CONTROL "", 1000, "static", SS_SIMPLE | WS_CHILD | WS_VISIBLE, 3, 3, 145, 73
	CONTROL "", 1001, "static", SS_SIMPLE | WS_CHILD | WS_VISIBLE, 0, 79, 151, 1
END
#endif

IDD_PRINT_ABORT_DIALOG DIALOG 118, 88, 90, 64
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME | WS_POPUP
CAPTION "Editor32"
BEGIN
	CONTROL "Cancel", IDCANCEL, "BUTTON", BS_OWNERDRAW | WS_GROUP, 31, 37, 32, 20
	CTEXT "Sending", -1, 10, 5, 72, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CTEXT "file", -1, 8, 14, 75, 8
	CTEXT "to print spooler", -1, 8, 23, 77, 8
	CONTROL "", 1000, "static", SS_SIMPLE | WS_CHILD | WS_VISIBLE, 2, 2, 85, 59
END

IDD_INFO_DIALOG DIALOG 81, 79, 154, 51
STYLE DS_ABSALIGN | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Info"
BEGIN
	CONTROL "OK", IDC_OKAY, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 27, 32, 20
	CTEXT "abcdefghijklmnopqrstuvwxyzABCDEFGHI", IDC_TEXT, 8, 8, 139, 8
	CONTROL "", 1000, "static", SS_SIMPLE | WS_CHILD | WS_VISIBLE, 5, 4, 145, 18
END

IDD_FIND_DIALOG DIALOG 100, 85, 114, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Editor32:  Find"
BEGIN
	CONTROL "&Find:", -1, "static", SS_LEFT | WS_CHILD, 8, 5, 59, 8
	CONTROL "", IDC_FIND_EDIT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD, 7, 15, 98, 12
	DEFPUSHBUTTON "Find", IDOK, 69, 31, 36, 14
	PUSHBUTTON "Cancel", IDCANCEL, 69, 46, 36, 14
	CONTROL "", 1000, "static", SS_SIMPLE | WS_CHILD | WS_VISIBLE, 3, 3, 107, 60
	CHECKBOX "&Match case", IDC_MATCH_CASE, 7, 32, 52, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

IDD_REPLACE_DIALOG DIALOG 99, 58, 125, 106
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Editor32:  Replace"
BEGIN
	CONTROL "R&eplace:", -1, "static", SS_LEFT | WS_CHILD, 5, 5, 59, 8
	CONTROL "", IDC_FIND_EDIT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD, 5, 15, 115, 12
	CONTROL "&With:", -1, "static", SS_LEFT | WS_CHILD, 5, 29, 60, 8
	CONTROL "", IDC_REPLACE_EDIT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | WS_CHILD, 5, 39, 115, 12
	DEFPUSHBUTTON "&Replace", IDOK, 67, 55, 52, 14
	PUSHBUTTON "Replace &All", IDC_REPLACE_ALL, 67, 71, 52, 14
	PUSHBUTTON "Cancel", IDCANCEL, 67, 87, 52, 14
	CONTROL "", 1000, "static", SS_SIMPLE | WS_CHILD | WS_VISIBLE, 2, 2, 121, 102
	CHECKBOX "&Match case", IDC_MATCH_CASE, 5, 56, 56, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CHECKBOX "&Query", IDC_QUERY, 5, 86, 52, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

IDD_QUERY_DIALOG DIALOG 95, 92, 129, 38
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Editor32:  Confirm Replacement"
BEGIN
	DEFPUSHBUTTON "Yes", IDYES, 4, 20, 36, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "No", IDNO, 46, 20, 36, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 88, 20, 36, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "Replace this occurrence?", IDC_MSG_TEXT, "static", SS_CENTER | WS_CHILD, 10, 6, 110, 8
	CONTROL "", 1000, "static", SS_SIMPLE | WS_CHILD | WS_VISIBLE, 2, 2, 125, 15
END

IDD_SPECINS_DIALOG DIALOG 102, 103, 135, 29
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Ascii value of special char"
BEGIN
	CONTROL "", IDC_EDIT, "edit", ES_LEFT | WS_TABSTOP, 4, 3, 127, 9
	PUSHBUTTON "OK", IDOK, 2, 16, 66, 12
	PUSHBUTTON "Cancel", IDCANCEL, 70, 16, 63, 12
	CONTROL "", 1000, "static", SS_SIMPLE | WS_CHILD | WS_VISIBLE, 2, 1, 131, 13
END

IDD_COMMAND_DIALOG DIALOG 102, 103, 135, 29
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Command"
BEGIN
	CONTROL "", IDC_EDIT, "edit", ES_LEFT | WS_TABSTOP, 4, 3, 127, 9
	PUSHBUTTON "OK", IDOK, 2, 16, 66, 12
	PUSHBUTTON "Cancel", IDCANCEL, 70, 16, 63, 12
	CONTROL "", 1000, "static", SS_SIMPLE | WS_CHILD | WS_VISIBLE, 2, 1, 131, 13
END

